--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: photos; Type: TABLE; Schema: public; Owner: web_route
--

CREATE TABLE public.photos (
    id_photo integer NOT NULL,
    path_to_photo character varying(200),
    id_route integer
);


ALTER TABLE public.photos OWNER TO web_route;

--
-- Name: photos_id_photo_seq; Type: SEQUENCE; Schema: public; Owner: web_route
--

CREATE SEQUENCE public.photos_id_photo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.photos_id_photo_seq OWNER TO web_route;

--
-- Name: photos_id_photo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: web_route
--

ALTER SEQUENCE public.photos_id_photo_seq OWNED BY public.photos.id_photo;


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: web_route
--

CREATE TABLE public.reviews (
    id_review integer NOT NULL,
    description text,
    estimation integer,
    date_review timestamp without time zone,
    id_route integer,
    id_user integer NOT NULL
);


ALTER TABLE public.reviews OWNER TO web_route;

--
-- Name: reviews_id_review_seq; Type: SEQUENCE; Schema: public; Owner: web_route
--

CREATE SEQUENCE public.reviews_id_review_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reviews_id_review_seq OWNER TO web_route;

--
-- Name: reviews_id_review_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: web_route
--

ALTER SEQUENCE public.reviews_id_review_seq OWNED BY public.reviews.id_review;


--
-- Name: routes; Type: TABLE; Schema: public; Owner: web_route
--

CREATE TABLE public.routes (
    id_route integer NOT NULL,
    route_name character varying(100),
    route_place character varying(120),
    route_description text,
    yandex_route character varying(500) NOT NULL,
    estimation real,
    path_to_photo_preview character varying(200),
    id_user integer
);


ALTER TABLE public.routes OWNER TO web_route;

--
-- Name: routes_id_route_seq; Type: SEQUENCE; Schema: public; Owner: web_route
--

CREATE SEQUENCE public.routes_id_route_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_id_route_seq OWNER TO web_route;

--
-- Name: routes_id_route_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: web_route
--

ALTER SEQUENCE public.routes_id_route_seq OWNED BY public.routes.id_route;


--
-- Name: users; Type: TABLE; Schema: public; Owner: web_route
--

CREATE TABLE public.users (
    id_user integer NOT NULL,
    username character varying(20) NOT NULL,
    password character varying(50) NOT NULL,
    email character varying(100) NOT NULL
);


ALTER TABLE public.users OWNER TO web_route;

--
-- Name: users_id_user_seq; Type: SEQUENCE; Schema: public; Owner: web_route
--

CREATE SEQUENCE public.users_id_user_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_user_seq OWNER TO web_route;

--
-- Name: users_id_user_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: web_route
--

ALTER SEQUENCE public.users_id_user_seq OWNED BY public.users.id_user;


--
-- Name: photos id_photo; Type: DEFAULT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.photos ALTER COLUMN id_photo SET DEFAULT nextval('public.photos_id_photo_seq'::regclass);


--
-- Name: reviews id_review; Type: DEFAULT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.reviews ALTER COLUMN id_review SET DEFAULT nextval('public.reviews_id_review_seq'::regclass);


--
-- Name: routes id_route; Type: DEFAULT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.routes ALTER COLUMN id_route SET DEFAULT nextval('public.routes_id_route_seq'::regclass);


--
-- Name: users id_user; Type: DEFAULT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.users ALTER COLUMN id_user SET DEFAULT nextval('public.users_id_user_seq'::regclass);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id_photo);


--
-- Name: reviews reviews_id_user_key; Type: CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_id_user_key UNIQUE (id_user);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id_review);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id_route);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id_user);


--
-- Name: photos fk_photos_routes; Type: FK CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT fk_photos_routes FOREIGN KEY (id_route) REFERENCES public.routes(id_route);


--
-- Name: reviews fk_reviews_routes; Type: FK CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT fk_reviews_routes FOREIGN KEY (id_route) REFERENCES public.routes(id_route);


--
-- Name: routes fk_routes_users; Type: FK CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT fk_routes_users FOREIGN KEY (id_user) REFERENCES public.users(id_user);


--
-- Name: reviews fk_user; Type: FK CONSTRAINT; Schema: public; Owner: web_route
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT fk_user FOREIGN KEY (id_user) REFERENCES public.users(id_user);


--
-- PostgreSQL database dump complete
--

