@media screen and (max-width: 1200px) {
    .content-route-right{
        margin-left: 50px;
    }
    .content-route-left{
        margin-left: 50px;
    }
    .btns{
        width: 60%;
    }
}
/* Для экранов меньше 1170px */
@media screen and (max-width: 1170px) {
    /*текст в листе маршруте*/
    .title-route, .btn{
        font-size: 15px;
    }
    .select-all-routs{
        margin-right: 100px;
    }
    
}
/* Для экранов меньше 991px */
@media screen and (max-width: 991px) {
    h1{
        padding-top: 25px;
        font-size: 25px;
    }
    .burger {
        display: block;
    }

    /* Скрываем список навигации по умолчанию */
    .mainnav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px; /* Отступ от верхнего края */
        left: 0;
        width: 100%;
        background-color: #4086a2; /* Фон меню */
        align-items: center;
        z-index: 1000;
    }

    /* Показываем список навигации при нажатии на чекбокс */
    .burger-checkbox:checked ~ .mainnav-list {
        display: flex;
    }

    /* Стили для пунктов меню */
    .nav-item {
        padding: 15px 20px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Разделитель между пунктами */
        font-weight: 400;
        font-size: 25px;
    }
    .mainnav-list li{
        width: 100%;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid white;
    }
    .mainnav-list li:first-child{
        padding-top: 24px;
    }
    .mainnav-list li:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }

    /* Убираем отступы у последнего пункта */
    .nav-item:last-child {
        border-bottom: none;
    }
    /*чекбокс*/
    .select-all-routs{
        margin-right: 80px;
    }
    .select-all-routs input{
        transform: scale(1.5);
    }
    .select-all-routs label{
        font-size: 22px;
        font-weight: 600;
        margin-top: 2px;
    }
    /*список маршрутов*/
    .buttons{
        margin-top: 80px;
    }
    .btn{
        width: 60%;
    }    
    .reviews-btn{
        text-align: center;
    }
    .about-us-text{
        font-size: 25px;
    }
    .contacts-text{
        font-size: 25px;
    }
    .instruction-for-forget-pass{
        margin-top: 25px;
    }
    .btns{
        width: 70%;
    }
    .route-description{
        font-size: 18px;
    }
    .title-route-description{
        font-size: 24px;
    }
    .review-item{
        border: 2px solid #F6F3D8;
    }
}

@media screen and (max-width: 768px) {
    h1{
        padding-top: 15px;
        font-size: 20px;
    }
    
    .form-text{
        font-size: 40px;
    }
    .input-field.email{
        border-radius: 15px;
    }
    .input-field.password{
        border-radius: 15px;
    }
    .button-authorize {
        height: 80%;
    }

    /*список маршрутов*/
    .route-content{
        width: 95%;
    }
    .route-item {
        flex-direction: column; 
    }

    .route-image {
        width: 95%; 
        height: auto;
        object-fit: contain;
        margin-right: 0; 
        margin-top: 10px;
        border: 2px solid #F6F3D8;
    }
    .route-text{
        width: 100%;
    }
    .title-and-rating{
        width: 100%;
        border: none;
    }
    .title-some-description,
    .description-route {
        display: none;
    }

    .buttons {
        margin-top: 10px;
    }
    /*чекбокс*/
    .title-and-select{
        display: flex;
        flex-direction: column;
    }
    .select-all-routs input{
        transform: scale(1);
    }
    .select-all-routs label{
        margin-top: 1px;
        font-size: 15px;
    }
    .select-all-routs{
        margin-top: 5px;
        margin-right: 0;
        justify-content: center;
    }
    .about-us-text{
        font-size: 20px;
    }
    .contacts-text{
        font-size: 20px;
        margin-left: 0;
        text-align: center;
    }
    /*создать маршрут*/
    .create-route-block{
        font-size: 17px;
        padding: 10px;
        height: 89%;
        margin-top: 10px;
    }
    .create-route-block section{
        margin-top: 15px;
    }
    .instruction-for-forget-pass{
        margin-top: 15px;
    }
    .route-description{
        font-size: 16px;
    }
    .title-route-description{
        font-size: 22px;
    }
    .text-review{
        font-size: 14px;
    }
    .btn-route{
        font-size: 18px;
    }
    .itcss-item{
        height: 350px;
    }
    .content-route{
        flex-direction: column;
    }
    .itcss-1{
        width: 100%;
        max-width: 1000px;
    }
    .content-route-right, .content-route-left{
        margin: 0 auto;
        width: 90%;
    }
    .btn-route{
        font-size: 15px;
    }
    .btns{
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
    .form-text{
        font-size: 30px;
    }
    .input-field.email{
        border-radius: 10px;
    }
    .input-field.password{
        border-radius: 10px;
    }
    .button-authorize {
        height: 60%;
    }
    /*список маршрутов*/
    h1{
        font-size: 20px;
    }
    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        width: 85%;
    }
    .reviews-btn{
        max-width: 333px;
    }
    .about-us-text{
        font-size: 15px;
    }
    .contacts-text{
        font-size: 15px;
    }
    .create-route-block{
        font-size: 15px;
    }
    .input-route{
        border-radius: 10px;
        height: 45px;
    }
    .create-route-btn{
        height: 60px;
    }
    .banner{
        font-size: 60px;
    }
    .main-page-content{
        margin-top: 150px;
    }
    .btns{
        width: 80%;
    }
    .btn-route{
        font-size: 11px;
        height: 50px;
    }
    .route-description{
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    .form-text{
        font-size: 25px;
    }
    .input-field.email{
        border-radius: 5px;
    }
    .input-field.password{
        border-radius: 5px;
    }
    .button-authorize {
        height: 40%;
    }    
    .banner{
        font-size: 50px;
    }
    .main-page-content{
        margin-top: 100px;
    }
}