@media screen and (min-width: 1200px) {
    
}
/* Для экранов меньше 1050px */
@media screen and (max-width: 1170px) {
    /*текст в листе маршруте*/
    .title-route, .btn{
        font-size: 15px;
    }
    
}
/* Для экранов меньше 991px */
@media screen and (max-width: 991px) {
    
    .burger {
        display: block;
    }

    /* Скрываем список навигации по умолчанию */
    .mainnav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px; /* Отступ от верхнего края */
        left: 0;
        width: 100%;
        background-color: #4086a2; /* Фон меню */
        align-items: center;
        z-index: 1000;
    }

    /* Показываем список навигации при нажатии на чекбокс */
    .burger-checkbox:checked ~ .mainnav-list {
        display: flex;
    }

    /* Стили для пунктов меню */
    .nav-item {
        padding: 15px 20px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Разделитель между пунктами */
        font-weight: 400;
        font-size: 25px;
    }
    .mainnav-list li{
        width: 100%;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid white;
    }
    .mainnav-list li:first-child{
        padding-top: 24px;
    }
    .mainnav-list li:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }

    /* Убираем отступы у последнего пункта */
    .nav-item:last-child {
        border-bottom: none;
    }

    /*список маршрутов*/
    .buttons{
        margin-top: 80px;
    }
    .btn{
        width: 60%;
    }    
    .reviews-btn{
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .form-text{
        font-size: 40px;
    }
    .input-field.email{
        border-radius: 15px;
    }
    .input-field.password{
        border-radius: 15px;
    }
    .button-authorize {
        height: 80%;
    }

    /*список маршрутов*/
    .route-content{
        width: 95%;
    }
    .route-item {
        flex-direction: column; 
    }

    .route-image {
        width: 95%; 
        height: auto;
        object-fit: contain;
        margin-right: 0; 
        margin-top: 10px;
        border: 2px solid #F6F3D8;
    }
    .route-text{
        width: 100%;
    }
    .title-and-rating{
        width: 100%;
        border: none;
    }
    .title-some-description,
    .description-route {
        display: none;
    }

    .buttons {
        margin-top: 10px;
    }

}
@media screen and (max-width: 480px) {
    .form-text{
        font-size: 30px;
    }
    .input-field.email{
        border-radius: 10px;
    }
    .input-field.password{
        border-radius: 10px;
    }
    .button-authorize {
        height: 60%;
    }
    /*список маршрутов*/
    h1{
        font-size: 20px;
    }
    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        width: 85%;
    }
    .reviews-btn{
        max-width: 333px;
    }
}
@media screen and (max-width: 375px) {
    .form-text{
        font-size: 25px;
    }
    .input-field.email{
        border-radius: 5px;
    }
    .input-field.password{
        border-radius: 5px;
    }
    .button-authorize {
        height: 40%;
    }    
}