<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/adaptiv.css">
    <link rel="stylesheet" href="../style/reset.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Мои маршруты</title>
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label for="burger-checkbox" class="burger"></label>
            <ul class="mainnav-list">
                <li><a class="nav-item" href="/">Главная</a></li>
                <li><a class="nav-item" href="/popular-routes">Популярные маршруты</a></li>
                <li><a class="nav-item" href="/create-route">Создать маршрут</a></li>
                <li><a class="nav-item current-page">Мои маршруты</a></li>
                <li><a class="nav-item" href="/contacts">Контакты</a></li>
                <li><a class="nav-item" href="/about-us">О нас</a></li>
                <li class="profil">
                    {{if .Username}}
                        <div class="profile-dropdown">
                            <img src="style/logo/strelka.svg" alt="" style="cursor: hand;" id="strelka">
                            <a class="nav-item" href="#" id="profilUser" onclick="toggleProfileMenu()">{{.Username}}</a>
                            <div class="dropdown-content" id="profileDropdown">
                                <a onclick="changePass()">Изменить пароль</a>
                                <a href="/deauthorize" class="logout-text">Выйти</a>
                            </div>
                        </div>
                    {{else}}
                        <a class="nav-item" href="#" id="profilUser" onclick="openSignInDialog()">Войти</a>
                    {{end}}
                </li>
            </ul>
        </nav>
    </header>   
    <main>
        <h1>Мои маршруты</h1>
        <div class="routes-list">
            {{range .RoutesInfo}}
            <div class="route-item">
                <div class="route-image">
                    <img src="{{.PathToPhotoPreview}}" alt="Route Image">
                </div>
                <div class="route-content">
                    <div class="route-text">
                        <div class="title-and-rating">
                            <h2 class="title-route">{{.Name_route}}</h2>
                            <div class="rating">
                                {{$currentRoute := .}} <!-- Сохраняем текущий маршрут в переменную -->
                                {{range $i := seq 5.0}}
                                    {{if le $i $currentRoute.Estimation}} <!-- Используем $currentRoute.Estimation -->
                                        <span class="star filled">★</span>
                                    {{else if le (sub $i 0.25) $currentRoute.Estimation}} <!-- Заполнение на 75% -->
                                        <span class="star quater">★</span>
                                    {{else if le (sub $i 1) (sub $currentRoute.Estimation 0.5)}} <!-- Заполнение на 50% -->
                                        <span class="star filled-half">★</span>
                                    {{else if le (sub $i 0.75)  $currentRoute.Estimation}} <!-- Заполнение на 25% -->
                                        <span class="star quater-small">★</span>
                                    {{else}}
                                        <span class="star">★</span>
                                    {{end}}
                                {{end}}
                            </div>
                        </div>
                        <h3 class="title-some-description">Краткое описание</h3>
                        <p class="description-route">{{.Description_route}}</p>
                    </div>
                    <div class="buttons">
                        <button class="btn route-btn" data-route-id="{{.IdRoute}}" data-route-name="{{.Name_route}}" data-route-place="{{.Place_route}}" data-route-yandex="{{.Yandex_route}}" data-route-description="{{.Description_route}}" data-route-estimation="{{.Estimation}}" id="goRoutePage">Перейти к маршруту</button>
                        <button class="btn reviews-btn" data-route-id="{{.IdRoute}}">Отзывы</button>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </main>
    <script src="scripts/client_routes.js"></script>
    <script src="scripts/user_menu.js"></script>
</body>
</html>