<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/adaptiv.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>VibeRoutes</title>
</head>
<body>
    <div id="blurDiv"></div>
    <header>
        <nav>
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label for="burger-checkbox" class="burger"></label>
            <ul class="mainnav-list">
                <li><a class="nav-item current-page" href="/">Главная</a></li>
                <li><a class="nav-item" href="/popular-routes">Популярные маршруты</a></li>
                <li><a class="nav-item" href="/create-route">Создать маршрут</a></li>
                <li><a class="nav-item" href="/client-routes">Мои маршруты</a></li>
                <li><a class="nav-item" href="/contacts">Контакты</a></li>
                <li><a class="nav-item" href="/about-us">О нас</a></li>
                <li class="profil">
                    <img src="style/logo/strelka.svg" alt="" style="cursor: hand;" id="strelka">
                    {{if .Username}}
                        <div class="profile-dropdown">
                            <a class="nav-item" href="#" id="profilUser" onclick="toggleProfileMenu()">{{.Username}}</a>
                            <div class="dropdown-content" id="profileDropdown">
                                <a onclick="changePass()">Изменить пароль</a>
                                <a href="/deauthorize" class="logout-text">Выйти</a>
                            </div>
                        </div>
                    {{else}}
                        <a class="nav-item" href="#" id="profilUser" onclick="openSignInDialog()">Войти</a>
                    {{end}}
                </li>
            </ul>
        </nav>
    </header>   
    <main class="main-page-content">
       <span class="banner">Найдите свой <br>
        идеальный маршрут!</span>
        <div class="search">
            <input class="search-field" type="text" autocomplete="off">
            <input class="search-btn" type="button" value="">
        </div>
        <div class="authorization">
            {{if .IsNotAuth}}
            <span class="sign-in" onclick="openSignInDialog()">Войти</span>
            <span class="registration" onclick="openRegistrationDialog()">Регистрация</span>
            {{end}}
        </div>
        <dialog class="sign-in-dialog" id="signInDialog">
            <div class="sign-in-dialog-form" id="signInForm">
                <img class="logo-tree" src="style/logo/tree.svg" alt="">
                <span class="form-text">Авторизация</span>
                <input class="input-field email" type="email" name="email" id="signInEmailInput" placeholder="Введите почту">
                <span class="error-message" id="emailSignInError" style="color: red; display: none;">error message</span>
                <input class="input-field password" type="password" name="password" id="signInPasswordInput" placeholder="Введите пароль">
                <span class="error-message" id="passwordSignInError" style="color: red; display: none;">error message</span> <!--в js меняешь на дисплей блок-->
                <!--и надо также в js поле в котором ошибка обвести в красный-->
                <section class="autorize-register">                    
                    <button class="button-authorize" type="submit" onclick="authorize()">Войти</button>
                    <div>
                        <span class="sign-in-dialog-form-registation" onclick="openRegistrationDialog()">Регистрация</span>
                        <br>
                        <br>
                        <span class="sign-in-dialog-form-registation forget-pass" onclick="openForgetPassDialog()">Забыли пароль?</span>
                    </div>
                </section>
            </div>
        </dialog>
        <dialog class="sign-in-dialog" id="registrationDialog">
            <form class="sign-in-dialog-form" id="registrationForm">
                <img class="logo-tree" src="style/logo/tree.svg" alt="">
                <span class="form-text">Регистрация</span>
                <input class="input-field name" type="text" name="" id="registrationNameInput" placeholder="Введите имя">
                <span class="error-message" id="nameRegistrationError" style="color: red; display: none;">error message</span>
                <input class="input-field email" type="email" name="" id="registrationEmailInput" placeholder="Введите почту">
                <span class="error-message" id="emailRegistrationError" style="color: red; display: none;">error message</span>
                <input class="input-field password" type="password" name="" id="registrationPasswordInput" placeholder="Введите пароль">
                <span class="error-message" id="passRegistrationError" style="color: red; display: none;">error message</span>
                <input class="input-field password" type="password" name="" id="registrationPasswordInputRepeat" placeholder="Повторите пароль">
                <span class="error-message" id="repeatPassRegistrationError" style="color: red; display: none;">error message</span>

                <section class="register-autorize">
                    <button class="button-authorize" type="submit" onclick="registration()">Зарегистрироваться</button>
                    <span class="sign-in-dialog-form-registation" onclick="openSignInDialog()">Вход</span>
                </section>
            </form>
        </dialog>
        <dialog class="sign-in-dialog" id="forgetPassDialog">
            <form class="sign-in-dialog-form" id="forgetPassForm">
                <img class="logo-tree" src="style/logo/tree.svg" alt="">
                <span class="form-text">Восстановление пароля</span>
                <span class="instruction-for-forget-pass" id="supportTextforgetPassForm">Для восстановления пароля введите свою электронную почту</span>
                <input class="input-field email" type="text" name="" id="forgetPassEmailInput" placeholder="Введите почту">
                <span class="error-message" id="emailForgetPassError" style="color: red; display: none;">error message</span>
                <div class="code-input-block" id="confirmationCode">
                    <input type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'inputCode2'); checkAllFilled()" id="inputCode1" onkeypress="return isNumberKey(event)" onkeydown="handleKeyDown(event, this)">
                    <input type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'inputCode3'); checkAllFilled()" id="inputCode2" onkeypress="return isNumberKey(event)" onkeydown="handleKeyDown(event, this)">
                    <input type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'inputCode4'); checkAllFilled()" id="inputCode3" onkeypress="return isNumberKey(event)" onkeydown="handleKeyDown(event, this)">
                    <input type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'inputCode5'); checkAllFilled()" id="inputCode4" onkeypress="return isNumberKey(event)" onkeydown="handleKeyDown(event, this)">
                    <input type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'inputCode6'); checkAllFilled()" id="inputCode5" onkeypress="return isNumberKey(event)" onkeydown="handleKeyDown(event, this)">
                    <input type="text" class="code-input" maxlength="1" oninput="moveToNext(this, null); checkAllFilled()" id="inputCode6" onkeypress="return isNumberKey(event)" onkeydown="handleKeyDown(event, this)">
                </div>
                <span class="error-message" id="codeForgetPassError" style="color: red; display: none; margin-top: 5px;">error message</span>
                <input class="input-field pass" type="password" name="" id="newPassInput" placeholder="Введите новый пароль" style="display: none; margin-top: 1.15vh;">
                <span class="error-message" id="passForgetPassError" style="color: red; display: none;">error message</span>
                <section class="register-autorize">
                    <button class="button-authorize" type="submit" onclick="resetPass()" id="resetPassButton">Сбросить</button>
                    <button class="button-authorize" type="submit" id="setNewPassButton" style="display: none;">Сохранить</button>
                </section>
                
            </form>
        </dialog>
        <dialog class="sign-in-dialog" id="changePassDialog">
            <form class="sign-in-dialog-form" id="changePassForm">
                <img class="logo-tree" src="style/logo/tree.svg" alt="">
                <span class="form-text">Изменение пароля</span>
                <input class="input-field password" type="password" name="" id="changePassLastPassInput" placeholder="Введите старый пароль">
                <span class="error-message" id="lastPassChangePassError" style="color: red; display: none;">error message</span>
                <input class="input-field password" type="password" name="" id="changePassNewPassInput" placeholder="Введите новый пароль">
                <span class="error-message" id="newPassChangePassError" style="color: red; display: none;">error message</span>
                
                <section class="register-autorize">
                    <button class="button-authorize" type="submit" id="changePassButton" onclick="changePassSave()">Изменить</button>
                </section>
                
            </form>
        </dialog>
    </main> 
    
    <script src="scripts/main.js"></script>
</body>
</html>